.box1{
    display: flex;
    flex-direction: column;
    align-items: left;
    margin-top: 5%;
    margin-left: 15%;
    max-width: 37%;
    min-height: 900px;
    gap: 20px;
}
.paragraph{
    padding-top: 5%;
    width: 90%;
    color: #00406a;
    font-size: 18px;
    font-weight: 550;
}
.pointer{
    position: relative;
    width: 50px;
    transform: scaleX(-1);
    max-width: 100%;
    height: auto;
    position: absolute;
    top: 80%;
    left: 15%;
    pointer-events:none;
    color: #ffea00;
}
.studentsLP{
    position: relative;
    width: 650px;
    max-width: 100%;
    height: auto;
    position: absolute;
    top: 20%;
    left: 43%;
    pointer-events:none;
}

.whatIMG{
    width: 500px;
    height: auto;
}
.submit-container{
    display: flex;
    gap: 30px;
    margin: 60px auto;
}

.button-submit{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 320px;
    height: 59px;
    color: #fff;
    border-radius: 50px;
    font-size: 30px;
    font-weight: 700;    
    cursor: pointer;
    text-decoration: none;
    background: #0099ff;
}

.gray{
    background: #eaeaea;
    color: #676767;
}