.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5%;
    max-width: 30%;
    min-height: 900px;
    background:  green;
}

.whatIMG{
    width: 500px;
    height: auto;
}
.submit-container{
    display: flex;
    gap: 30px;
    margin: 60px auto;
}

.button-submit{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 220px;
    height: 59px;
    color: #fff;
    background: #4c00b4;
    border-radius: 50px;
    font-size: 19px;
    font-weight: 700;    
    cursor: pointer;
}

.gray{
    background: #eaeaea;
    color: #676767;
}